<div id="{{artist['id']}}" class="flex flex-col bg-slate-200 hover:bg-teal-100 transition-colors ease-in-out rounded-lg content-center text-center basis-1/4 w-full h-72"
hx-get="/catalog"
hx-swap="outerHTML">
<span class="py-1 uppercase font-bold"><a href="{{get_website(artist)}}" class="text-cyan-800 hover:text-cyan-600">{{artist["name"]}}</a></span>
<span class="px-1 text-xs text-slate-500 font-bold uppercase">Members</span>
<div id="hello" class="flex flex-col flex-wrap h-5/6 py-2">
{% for member in get_members(artist) %}
<span class="px-1 text-sm text-slate-600">{{member}}</span>
{% endfor %}
</div>
</div>